html {
    width: 100%;
}

body {
    width: 95%;
    margin: auto;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #222222;
}

h1 {
    text-align: center;
    margin-bottom: 5px;
}

h1 a {
    text-decoration: none;
    color: black;
}

h2 {
    border-bottom: 2px solid black;
    padding-bottom: 3px;
    margin-top: 30px;
    margin-bottom: 10px;
}

#contactInfo {
    text-align: center;
    padding: 6px 0;
    margin-top: 0px;
    border-bottom: 2px solid black;
}

#contactInfo li {
    display: inline;
    margin: 0 15px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 15px;
}

.date {
    font-style: italic;
}

.role {
    font-weight: bold;
    margin-top: 2px;
}

.experienceItem, .projectItem {
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}